{% extends 'base.html.twig' %}

{% block title %}CRUD Article {% endblock %}

{% block body %}
    <h1> CRUD Article </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Prix</th>
                <th>Id_Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.Nom }}</td>
                <td>{{ article.Description }}</td>
                <td>{{ article.Image }}</td>
                <td>{{ article.Prix }}</td>
                <td>{{ article.IdCategorie }}</td>
                <td>
                    <a href="{{ path('app_article_controller_crud_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('app_article_controller_crud_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_controller_crud_new') }}">Create new</a>
{% endblock %}
