{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ article.Nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.Description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ article.Image }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ article.Prix }}</td>
            </tr>
            <tr>
                <th>Id_Categorie</th>
                <td>{{ article.IdCategorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_controller_crud_index') }}">Retour</a>

    <a href="{{ path('app_article_controller_crud_edit', {'id': article.id}) }}">edit</a>

    {{ include('article_controller_crud/_delete_form.html.twig') }}
{% endblock %}
